img{
  width:50%;
}
#result_area{
  display:none;
}
body{
  background: url("../images/background.jpg");
  color: #ffffff;
}

#fortune_area, #result_area{
  margin-top:10em;
  text-align:center;
}
